@model UnitTestingSitecoreComponents.Web.Models.EntryCategories

@if(Model.Categories.Any())
{
    <div class="wb-entry-categories wb-panel">
        <h3>(Partial) Posted in:</h3>
        <ul>
            @foreach (var categories in @Model.Categories)
            {
                <li>
                    <a href="@categories.Url">
                        @categories.Title
                    </a>
                </li>
            }
        </ul>
    </div>
}
