<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <sitecore>
    <services>
      <register
        serviceType="UnitTestingSitecoreComponents.Web.Taxonomy.IEntryTaxonomy, UnitTestingSitecoreComponents.Web"
        implementationType="UnitTestingSitecoreComponents.Web.Taxonomy.EntryTaxonomy, UnitTestingSitecoreComponents.Web" />
    </services>
  </sitecore>
</configuration>
